.despre-mine {
  margin: auto;
  min-height: 37em;
}

.text {
	margin-right: 3em;
	text-align: justify;
}

.image {
	width: 100%;
	margin-bottom: 4em;
	border-style: solid;
  	border-width: 1.5px;
  	border-color: #505050;
  	border-radius: 2px;
}