<head>
	<link rel="stylesheet" href="styles/despre_mine.css">
</head>

<div class="despre-mine">
	<h4 class="page-label">Despre mine</h4>

	<table>
		<tr>
			<td valign="top">
				<p class="text"><br>Ori de cate ori simt nevoia sa-mi dezvalui latura artistica a firii mele recurg la pictura.
				Sa pictez constituie pentru mine o modalitate de activare a unor forte launtrice generate de o mare nevoie de descatusare. Tot acest efort al meu concretizat prin produse finite carora le-am atribuit o puternica incarcatura emotionala, consider ca merita vazut.</p>
			</td>

			<td>
				<br><img class="image" src="../images/profile_pic.JPG">
			</td>
		</tr>
	</table>
</div>
