<div ng-app="lianacorbApp" ng-controller="MainCtrl as main" class="main">
  <div class="jumbotron pictures-section">
    <ul>
        <li ng-repeat="img in main.images">
          <img ng-src="{{ img.url }}">
        </li>
    </ul>
  </div>

  <div class="main-text">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a turpis at massa bibendum scelerisque imperdiet ut ipsum. Vestibulum pharetra nibh vel neque malesuada lobortis. Duis vel luctus ipsum. Nullam congue ex vel elit interdum tincidunt. Quisque ligula ex, suscipit vestibulum lacus at, imperdiet luctus eros. Curabitur auctor arcu diam, vel volutpat nisl molestie ac. Sed sit amet eleifend turpis.
    </p>
    <p>
      Vestibulum elementum cursus felis ut tincidunt. Integer turpis nisi, consequat at condimentum semper, egestas vitae arcu. Integer et metus tristique, hendrerit felis a, rutrum ex. Sed feugiat lacus vel velit dignissim facilisis. Sed nec lectus non urna feugiat placerat. Vestibulum quis nibh urna. Donec euismod mollis lectus a sagittis. Proin cursus mauris a arcu dapibus pellentesque. In consequat nunc eu sem sagittis sagittis. Quisque at est euismod dui facilisis gravida in at neque. Sed molestie feugiat orci, id tempus purus mattis ac. Fusce maximus, nunc at ultricies hendrerit, lacus tortor.<br>
    </p>
  </div>
</div>